* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-item {
    margin: 5px;
    color: black;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-top: 50px;
    width: 470px;
}

